/**
 * {{title}} Gulp Configuration File
 *
 * @package {{textdomain}}
 */


module.exports = {
	{{slugPascalCase}}CSS: [ // {{title}} CSS
		'node_modules/@cagov/*/dist/index.css',
		'assets/css/*'
	], 
	{{slugPascalCase}}JS: [ // {{title}} JS
		'node_modules/@cagov/*/dist/index.js',
		'assets/js/*'
	]
};