body.design-system{
	cagov-navoverlay{
		border-bottom: 0;

		nav{
			max-height: 50px;
		}

		li{
			strong a{
				padding-left: 0;
			}

			.expanded-menu-section{
				position: absolute;
				padding: 0 15px;
				outline: 1px solid #efefef;
				background: #fff;
				box-shadow: 0px 4px 7px -1px rgb(0, 0, 0);

				a{
					white-space: nowrap;
				}
			}

			.expanded-menu-section:not(.expanded) a{
				display: none;
			}
		} 
	}
}